<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" th:replace="layout :: layout(~{::contenido})">

<div th:fragment="contenido">

	<div class="row mb-3 align-items-center">
		<div class="col-md-10">
			<h1 class="texto">Listado de Horarios</h1>
		</div>
		<div class="col-md-2">
			<a th:href="@{/horarios/nuevo}" class="btn btn-success w-100">
				<i class="fa-solid fa-plus"></i> Nuevo
			</a>
		</div>

	</div>
	<!-- Formulario de filtro -->
	<form method="get" th:action="@{/horarios/filtrado}" th:object="${filtro}">
		<div class="row mb-3">

			<!-- Filtro por Modalidad -->
			<div class="col-md-3">
				<label class="texto" for="modalidad">Modalidad</label>
				<select class="form-select" th:field="*{idModalidad}" onchange="this.form.submit()">
					<option value="">-- Todas --</option>
					<option th:each="item : ${modalidades}" th:value="${item.idModalidad}"
						th:text="${item.descripcion}">
					</option>
				</select>
				<a th:href="@{/horarios/filtrado}" class="btn btn-success mt-2">
					<i class="fa-solid fa-arrows-rotate"></i> Limpiar
				</a>
			</div>

			<!-- Filtro por Carrera -->
			<div class="col-md-3">
			    <label class="texto" for="carrera">Carrera</label>
			    <select class="form-select" th:field="*{idCarrera}" onchange="this.form.submit()">
			        <option value="">-- Todas --</option>
			        <option th:each="item : ${carreras}" th:value="${item.idCarrera}" th:text="${item.descripcion}"></option>
			    </select>
			</div>

		</div>
	</form>


	<div class="row mb-3">
		<div class="col-md-12">
			<table id="tblHorarios" class="table table-hover table-striped table-borderless align-middle">
				<thead class="table-dark text-center">
					<tr>
						<th>Nro.</th>
						<th>ID</th>
						<th>Curso</th>
						<th>Día</th>
						<th>Hora Inicio</th>
						<th>Hora Fin</th>
						<th>Aula</th>
						<th>Modalidad</th>
						<th>Estado</th>
						<th>Acciones</th>
					</tr>
				</thead>
				<tbody class="table-secondary">
					<tr th:each="h, stat : ${lstHorarios}">
						<td th:text="${stat.count}" class="text-center"></td>
						<td th:text="${h.idHorario}" class="text-center"></td>
						<td th:text="${h.curso.nombreCurso}"></td>
						<td th:text="${h.dia}"></td>
						<td th:text="${#temporals.format(h.inicio, 'HH:mm')}"></td>
						<td th:text="${#temporals.format(h.fin, 'HH:mm')}"></td>
						<td th:text="${h.aula.descripcion}"></td>
						<td th:text="${h.modalidad.descripcion}"></td>
						<td th:text="${h.estado ? 'Activo' : 'Inactivo'}" class="text-center"></td>
						<td class="d-flex justify-content-around align-items-center">
							<a th:href="@{/horarios/edicion/{id}(id=${h.idHorario})}" class="btn btn-outline-secondary"
								title="Editar">
								<i class="fa-regular fa-pen-to-square"></i>
							</a>
							<form method="post" th:action="@{/horarios/cambiar-estado/{id}(id=${h.idHorario})}">
								<div class="form-switch">
									<input class="form-check-input" type="checkbox" th:checked="${h.estado}"
										onchange="this.form.submit()">
								</div>
							</form>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>

	<th:block th:utext="${toast}"></th:block>

	<script>
		$(document).ready(function () {
			$('#tblHorarios').DataTable({
				language: {
					url: 'https://cdn.datatables.net/plug-ins/2.0.3/i18n/es-ES.json',
					search: "Filtro general :",
				}
			});
		});
	</script>

</div>

</html>