<div class="p-6 min-h-screen bg-gray-50">
    <header class="bg-white shadow-sm h-16 flex items-center justify-between px-6 sticky top-0 z-10 rounded-lg mb-6">
        <h2 class="text-lg font-bold text-[#0B4D6C]">Gestión de Temas - Selección de Curso</h2>
        <div class="w-10 h-10 rounded-full bg-[#0B4D6C] text-white flex items-center justify-center">
            <i class="fa-solid fa-list-check"></i>
        </div>
    </header>

    @if (isLoading) {
        <app-loading-spinner message="Cargando cursos..."></app-loading-spinner>
    } @else {
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6 fade-in">
            @for (curso of cursos; track $index) {
                <div class="bg-white rounded-2xl shadow-sm border border-gray-100 overflow-hidden hover:shadow-md transition group">
                    <div class="h-32 bg-linear-to-r p-6 relative"
                         [ngClass]="$index % 2 === 0 ? 'from-[#0B4D6C] to-[#2d7a9e]' : 'from-[#ea580c] to-[#f97316]'">
                        <span class="absolute top-4 right-4 bg-white/20 text-white text-xs px-2 py-1 rounded backdrop-blur-sm">Presencial</span>
                        <h3 class="text-white font-bold text-xl mt-8 truncate" [title]="curso.nombreCurso">
                            {{ curso.nombreCurso }}
                        </h3>
                        <p [class]="$index % 2 === 0 ? 'text-blue-100' : 'text-orange-100'" class="text-sm">
                            Sección T{{curso.idCiclo}}WN
                        </p>
                    </div>
                    <div class="p-6">
                        <a [routerLink]="['/docente/sesiones', curso.idCurso]" 
                           class="block w-full bg-[#0B4D6C] text-white py-3 rounded-lg text-sm font-bold text-center hover:bg-[#002940] transition cursor-pointer shadow-sm">
                            <i class="fa-regular fa-pen-to-square mr-2"></i> Editar Temas
                        </a>
                    </div>
                </div>
            } @empty {
                <div class="col-span-full text-center text-gray-500 py-10">
                    No tienes cursos asignados.
                </div>
            }
        </div>
    }
</div>