.fade-in {
    animation: fadeIn 0.5s ease-out;
}

@keyframes fadeIn {
    from { opacity: 0; transform: translateY(10px); }
    to { opacity: 1; transform: translateY(0); }
}

/* Ocultar scrollbar pero permitir scroll (Funciona en Chrome/Safari/Edge) */
.scrollbar-hide::-webkit-scrollbar {
    width: 6px;
}
.scrollbar-hide::-webkit-scrollbar-thumb {
    background-color: #015071;
    border-radius: 4px;
}
.scrollbar-hide::-webkit-scrollbar-track {
    background-color: #f1f5f9;
}