* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Asegura que el body ocupe toda la pantalla */
html, body {
    background-image: url(../img/fondotec.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    height: 100%;
    font-family: Verdana;
    background-color: #f0f2f5;
}

/* Estructura principal */
.container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

h1 {
    text-align: center;
    padding: 7px;
    font-size: 27px;
}

h3{
    text-align: center;
}

/* Información del estudiante */
.info {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.info-item {
    display: flex;
    flex-direction: column;
    margin-right: 10px;
}

input {
    border: 1px solid #ddd;
    padding: 5px;
    border-radius: 4px;
    background-color: #e9ecef;
}

/* Tabla de asistencias */
.tabla-notas {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

.tabla-notas td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
}

.tabla-notas th {
    background-color: #2c3e50;
    color: white;
    font-weight: bold;
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
}

.tabla-notas tr:nth-child(even) {
    background-color: #f9f9f9;
}

footer {
    background-color: #2c3e50;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

